{% extends "index.html" %}
{% block title %}{{ catalog.name }}{% endblock %}



{% block content %}

    <h1>{{ catalog.name }}</h1>
    
    {% set flag = 0 %}
    <div class="catalog">
        {% for product in products %}
        
            {% if product.category_id in category %}
                {% if product.visible == 1 %}
                {% set flag = 1 %}
                <div class="box">
                    <a href="/products/{{ product.url }}">
                            {% if product.bestseller == 1 %}
                            <img class="bestseller_img" src="/theme/assets/img/hit.png" alt="">
                            {% endif %}
                        <div class="box_avatar">
                            {% if product.image == 'noimage.png' or product.image is not defined %}
                            <img src="/theme/assets/img/noimage.png" alt="">
                            {% else %}
                            <img class="prod_img" src="/uploads/products/{{ product.image }}" alt="">
                            {% endif %}
                        </div>
                        <div class="box_name">
                            {{ product.name }}
                        </div>
                    </a>
                    <div class="bottom_in_box">
                        <div class="box_price">
                            {{ product.price }} грн
                        </div>
                        <form method="post">
                            <input type="hidden" name="id" value="{{ product.id }}">
                            <input type="hidden" name="amount" value="1">
                            <input class="to_cart" name="to_cart" type="submit" value="В корзину">
                        </form>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        
        {% endfor %}
    </div>
    {% if flag == 0 %}
        <p>Нет товаров данной категории</p>
    {% endif %}

{% endblock %}