<!DOCTYPE>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <link href="/theme/assets/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/theme/assets/css/flat-ui.min.css" rel="stylesheet">
        <link href="/theme/assets/css/style.css" rel="stylesheet">
        <script src="/theme/assets/js/vendor/jquery.min.js"></script>
    </head>
    <body>
        <div class="top_header">
            <div class="container">
                <ul class="go_to_admin">
                    <li><a href="/admin/products">Перейти в админку</a></li>
                </ul>
                <!-- <ul class="reg_log">
                    <li><a href="#">Логин</a></li>
                    <li>&nbsp;/&nbsp;</li>
                    <li><a href="#">Регистрация</a></li>
                </ul> -->
            </div>
        </div>

        <header>
            <div class="container">
                
                <ul class="my_menu">
                    <li><a href="/">Twig Shop</a></li>
                    
                    {% for page in pages %}
                        {% if page.visible == 1 %}
                        <li>
                            <a href="/{{ page.url }}" class="">
                                <span>{{ page.name }}</span>
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                
            </div>
        </header>
        <div class="bottom_header">
            <div class="container">
                <div>
                <div class="menuToggle" style="cursor: pointer;"><span class="fui-list-columned" style="margin-right: 10px;"></span>Каталог</div>
                
                {% block sidebar %}
                    {% macro menu_categories(categories_tree) %}
                    {% import _self as macros %}
                        {% for category in categories_tree %}
                            {% if category.visible %}
                            <li>
                                <a href="/catalog/{{ category.url }}">{{ category.name }}</a>
                                {% if category.visible %}
                                    {% if category.subcategories %}
                                        <ul class="sub-menu">
                                            {{ macros.menu_categories(category.subcategories) }}
                                        </ul>
                                    {% endif %}
                                {% endif %}
                            </li>
                            {% endif %}
                        {% endfor %}
                    {% endmacro %}

                    {% import _self as macros %}
                    <div class="navi">
                        <ul class="main-menu">
                            {{ macros.menu_categories(categories_tree) }}
                        </ul>
                    </div>
                {% endblock %}
                </div>
                <ul class="my_cart">
                    <li>
                        {% if amount_in_cart == 0 %} 
                            <a style="cursor: default; pointer-events: none;" class="cart" href=""><img src="/theme/assets/img/cart1.png" alt="">
                            <span class="amount_in_cart1">{{ ( 0 ) }}</span>
                        </a>
                        {% else %}
                        <a class="cart" href="/cart"><img src="/theme/assets/img/cart1.png" alt="">
                            <span class="amount_in_cart1">
                                {% if amount_in_cart > 0 %} 
                                   {{ amount_in_cart  }} 
                                {% else %}
                                    {{ ( 0 ) }}
                                {% endif %}
                            </span>
                            <span>
                                {% if total > 0 %} 
                                    {{ total }} грн 
                                {% endif %}
                            </span>
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <script>
            // для выпадающего каталога
            $(function() { 
                $(".menuToggle").on("click", function() {
                    $(".main-menu").slideToggle(300, function() {
                        if($(this).css("display") === "none") {
                            $(this).removeAttr("style");
                        }
                    });
                });
            });
        </script>

    <script src="/theme/assets/js/flat-ui.min.js"></script>
</body>

</html>