{% extends "index.html" %}

{% block title %}Twig Shop{% endblock %}

{% block content %}
    <h2>Хиты продаж</h2>

    <div class="bestsellers">
        {% for product in products %}
            {% if product.visible == 1 and product.bestseller == 1 and product.amount > 0 and i < 4 %}
                <div class="box">
                    <a href="products/{{ product.url }}">
                        <img class="bestseller_img" src="theme/assets/img/hit.png" alt="">
                        <div class="box_avatar">
                            {% if product.image == 'noimage.png' or product.image is not defined %}
                            <img src="/admin/theme/assets/img/noimage.png" alt="">
                            {% else %}
                            <img class="prod_img" src="/uploads/products/{{ product.image }}" alt="">
                            {% endif %}
                        </div>
                        <div class="box_name">
                            {{ product.name }}
                        </div>
                    </a>
                    <div class="bottom_in_box">
                        <div class="box_price">
                            {{ product.price }} грн
                        </div>
                        <form method="post">
                            <input type="hidden" name="id" value="{{ product.id }}">
                            <input type="hidden" name="amount" value="1">
                            <input class="to_cart" name="to_cart" type="submit" value="В корзину">
                        </form>
                    </div>
                </div>
                {% set i = i + 1 %}
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}