{% extends "index.html" %}



{% block pages %}
    {% for page in pages %}
        {% if page.visible == 1 %}
        <li>
            <a href="/{{ page.url }}" class="">
                <span>{{ page.name }}</span>
            </a>
        </li>
        {% endif %}
    {% endfor %}
{% endblock %}



{% block content %}
    <h1>{{ page.name }}</h1>
    
    <p>{{ page.description|raw }}</p>
{% endblock %}


{% block sidebar %}

{% macro menu_categories(categories_tree) %}
{% import _self as macros %}
    {% for category in categories_tree %}
        {% if category.visible %}
            <li>
                <a href="/catalog/{{ category.url }}">{{ category.name }}</a>
                {% if category.visible %}
                    {% if category.subcategories %}
                        <ul>
                            {{ macros.menu_categories(category.subcategories) }}
                        </ul>
                    {% endif %}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% import _self as macros %}

<ul class="main-menu">
    {{ macros.menu_categories(categories_tree) }}
</ul>

<!-- <ul>
    {% for category in categories %}
    {% if category.visible == 1 %}
    <li>
        <a href="/catalog/{{ category.url }}" class="">
            <span>{{ category.name }}</span>
        </a>
    </li>
    {% endif %}
    {% endfor %}
</ul> -->

{% endblock %}