{% extends "index.html" %}



{% block pages %}
    {% for page in pages %}
        {% if page.visible == 1 %}
        <li>
            <a href="/{{ page.url }}" class="">
                <span>{{ page.name }}</span>
            </a>
        </li>
        {% endif %}
    {% endfor %}
{% endblock %}



{% block content %}
    <h1>{{ page.name }}</h1>
    
    <p>{{ page.description|raw }}</p>
{% endblock %}


{% block sidebar %}

<ul>
    {% for category in categories %}
    {% if category.visible == 1 %}
    <li>
        <a href="/catalog/{{ category.url }}" class="">
            <span>{{ category.name }}</span>
        </a>
    </li>
    {% endif %}
    {% endfor %}
</ul>

{% endblock %}