{% extends "index.html" %}


{% block pages %}
    {% for page in pages %}
        {% if page.visible == 1 %}
        <li>
            <a href="/{{ page.url }}" class="">
                <span>{{ page.name }}</span>
            </a>
        </li>
        {% endif %}
    {% endfor %}
{% endblock %}



{% block content %}

    <div class="product">
        <h1>{{ product.name }}</h1>
        <div class="product1">
            <div class="first-box">
                <div class="product_avatar">
                    {% if product.bestseller == 1 %}
                    <img class="bestseller" src="/theme/assets/img/hit.png" alt="">
                    {% endif %}

                    {% if product.image == 'noimage.png' or product.image is not defined %}
                    <img class="product-image" src="/theme/assets/img/noimage.png" alt="">
                    {% else %}
                    <img class="product-image" src="/uploads/products/{{ product.image }}">
                    {% endif %}
                </div>
                <form method="post">
                    <div class="product-buy">
                        <input type="hidden" name="id" value="{{ product.id }}">
                        <div class="amount">
                            <span>Количество:</span>
                            <input type="number" name="amount" value="1" min="1">
                        </div>
                        <div class="buttons">
                            <input class="button btn btn-lg btn-success" type="submit" name="cart" value="Купить">
                            <input class="button btn btn-lg btn-info" type="submit" name="wishlist" value="В избранное">
                        </div>

                    </div>
                </form>
            </div>

            <div class="second-box">
                <p class="product-description_price">Цена товара: <span>{{ product.price }}</span></p>
                <p class="product-description_description">Описание: <span>{{ product.description|raw }}</span></p>
                <p class="product-description_stock">На складе: <span>{{ product.amount }} </span>штук</p>
            </div>

        </div>
    </div>

{% endblock %}



{% block sidebar %}
<ul>
    {% for category in categories %}
    {% if category.visible == 1 %}
    <li>
        <a href="/catalog/{{ category.url }}" class="">
            <span>{{ category.name }}</span>
        </a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}