{% extends "index.html" %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
{% if product.visible == 1 %}
    <div class="product">
        <h1>{{ product.name }}</h1>
        <div class="product1">
            <div class="first-box">
                <div class="product_avatar">
                    {% if product.bestseller == 1 %}
                    <img class="bestseller" src="/theme/assets/img/hit.png" alt="">
                    {% endif %}

                    {% if product.image == 'noimage.png' or product.image is not defined %}
                    <img class="product-image" src="/theme/assets/img/noimage.png" alt="">
                    {% else %}
                    <img class="product-image" src="/uploads/products/{{ product.image }}">
                    {% endif %}
                </div>
                <form method="post">
                    <input type="hidden" name="id" value="{{ product.id }}">
                    <div class="product-buy">
                        <div class="amount">
                            <span>Количество:</span>
                            <input 
                            type="number" 
                            name="amount"
                            {% if product.amount == 0 %}
                                value="0" 
                                min="0"
                            {% else %}
                                value="1" 
                                min="1"
                            {% endif %}
                            max="{{ product.amount }}">


                        </div>
                        <div class="buttons">
                            <input class="button btn btn-lg btn-success" type="submit" name="to_cart" value="Купить">
                            <input class="button btn btn-lg btn-info" type="submit" name="wishlist" value="В избранное">
                        </div>

                    </div>
                </form>
            </div>

            <div class="second-box">
                <p class="product-description_price">Цена: <span>{{ product.price }}</span></p>
                <p class="product-description_stock">Наличие: 
                    {% if product.amount > 0 %}
                    <span style="color: #03AF04;">&#10004;</span>
                    <span>В наличии</span>
                    {% else %}
                    <span style="color: #FF441F;">&#10006;</span>
                    <span>Нет на складе</span>
                    {% endif %}

                </p>
                <p class="product-description_description">Описание: <span>{{ product.description|raw }}</span></p>
                
            </div>

        </div>
    </div>
{% endif %}
{% endblock %}