{% extends "index.html" %}


{% block content %}

<h1>{{ name }}</h1>

<a class="btn btn-primary btn-lg add_something" href="/admin/product">Добавить товар</a>

<form method="post" style="display: inline-block; margin: 0;">
    <button type="submit" name="export_products" class="btn btn-lg btn-info" value="1">Экспорт товаров в CSV</button>
    <a class="btn btn-lg btn-info" href="/feed2.php">ФИД XML</a>
</form>

{% if export is not empty %}
    <p>
        {{ export }}
        Ссылка на скачивание
        <a download href="/products.csv">products.csv</a>
    </p>
{% endif %}

{% if feed is not empty %}
    <p>
        Фид создан в корне сайта. 
        Ссылка на скачивание: 
        <a download href="{{ feed }}">feed.xml</a>
    </p>
{% endif %}


<div class="obertka">
    <form method="post">
        <table class="table table-condensed table-hover">

            <tr>
                <th></th>
                <th>id</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Описание</th>
                <th>Видимость</th>
                <th>Хиты продаж</th>
                <th></th>
            </tr>

            {% for product in products %}
            <tr class="products">
                <td>
                    <input class="checkbox" type="checkbox" name="check[]" value="{{ product.id }}">
                </td>
                <td>
                    {{ product.id }}
                    <input type="hidden" name="id" value="{{ product.id }}">
                </td>
                <td>
                    <a href="/admin/product?id={{ product.id }}">

                        {% if product.image == 'noimage.png' or product.image is not defined %}
                        <img class="avatars" src="/admin/theme/assets/img/noimage.png" alt="">
                        {% else %}
                        <img class="avatars" src="/uploads/products/{{ product.image }}" alt="">
                        {% endif %}

                        {{ product.name }}
                    </a>
                </td>
                <td>{{ product.price }}</td>
                <td>{{ product.amount }} шт.</td>
                <td class="description">{{ product.description|slice(0, 50) }}</td>
                <td>
                    {% if product.visible == 1 %}
                    <input disabled data-toggle="toggle" type="checkbox" value="1" name="visible" checked>
                    {% else %}
                    <input disabled data-toggle="toggle" type="checkbox" value="1" name="visible">
                    {% endif %}
                </td>
                <td>
                    {% if product.bestseller == 1 %}
                    <img src="/admin/theme/assets/img/hit.png" alt="" width="40">
                    {% endif %}
                </td>
                <td>
                    <a class="view_on_site" href="/products/{{ product.url }}" title="Посмотреть на сайте">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 460 460" width="30px" height="30px">
                            <path d="M0,67.5v285h460v-285H0z M30,97.5h400v225H30V97.5z M130,362.5l-20,20v10h240v-10l-20-20H130z" fill="currentColor"></path>
                        </svg>
                    </a>
                </td>
                <td>
                    <label class="label_for_hidden_del">X
                        <input class="hidden_del" type="submit" name="del[]" value="{{ product.id }}">
                    </label>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="select">
            <select name="select">
                <option value="enable">Включить</option>
                <option value="disable">Выключить</option>
                <option value="delete">Удалить</option>
            </select>
            <input class="btn btn-lg btn-success" type="submit" name="send" value="Применить">
        </div>
    </form>
</div>

{% endblock %}

