{% extends "index.html" %}

{% block content %}

<h3>Заказ №{{ id }}</h3>

<form method="post">
    <div class="order_form well">
        <div class="order70">
            Статус заказа:
            <select name="statuses">
                {% for status in statuses %}
                    <option {% if status.id == current_status.id %} selected {% endif %} value="{{ status.id }}">{{ status.name }}</option>
                {% endfor %}
            </select>
            
            <table class="table">
                <tr>
                    <th>№</th>
                    <th>Название</th>
                    <th>Кол-во</th>
                    <th>Цена</th>
                    <th>Сумма</th>
                </tr>

                {% set i = 0 %}
                {% for item in purchase %}
                <tr>
                    <td>{% set i = i + 1 %}{{ i }}</td>
                    <td><a href="/products/{{ item.product_url }}">{{ item.product_name }}</a></td>
                    <td><input type="number" min="1" max="100" name="amount[]" value="{{ item.amount }}"></td>
                    <td>{{ item.price }} грн</td>
                    <td>{{ item.amount * item.price }} грн</td>
                    <td>
                        <label class="label_for_hidden_del">X
                            <input class="hidden_del" type="submit" name="delete" value="{{ item.id }}">
                        </label>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="6">
                        <p class="total">Итого: 
                            <span>{{ total }} грн</span>
                        </p>
                    </td>
                </tr>
            </table>
            
            <div class="add_product_in_order">
                <span>Добавить товар:</span>
                <select name="product_for_order">
                    <option value="0"></option>
                    {% for product in products %}
                    <option value="{{ product.id }}">{{ product.name }}</option>
                    {% endfor %}
                </select>
                <input type="number" name="amount_new_product" value="1" min="1"> шт.

                <input type="submit" name="add_product_in_order" value="Добавить товар">
            </div>

        </div>
        <div class="order30">
            Имя:
            <input type="text" name="first_name" value="{{ order.first_name }}">
            Фамилия:
            <input type="text" name="last_name" value="{{ order.last_name }}">
            Email:
            <input type="text" name="email" value="{{ order.email }}">
            Телефон:
            <input type="text" name="phone" value="{{ order.phone }}">
        </div>
    </div>
    <div class="buttons_in_order">
        <input style="margin-top: 40px;" class="btn btn-lg btn-primary save" type="submit" name="save" value="Сохранить">
    </div>

</form>





{% endblock %}