{% extends "index.html" %}

{% block content %}

<h1>Заказ №{{ order.id }}</h1>

<form method="post">
    <div class="order_form">
        <div class="order70">
            Статус:
            <select onchange="$('#update').click(); return false;" name="statuses">
                {% for status in statuses %}
                    <option {% if status.id == current_status.id %} selected {% endif %} value="{{ status.id }}">{{ status.name }}</option>
                {% endfor %}
            </select>
            <table class="table">
                <tr>
                    <th>№</th>
                    <th>Название</th>
                    <th>Кол-во</th>
                    <th>Цена</th>
                    <th>Сумма</th>
                </tr>

                {% set i = 0 %}
                {% for item in purchase %}
                <tr>
                    <td>{% set i = i + 1 %}{{ i }}</td>
                    <td><a href="/products/{{ product.url }}">{{ item.product_name }}</a></td>
                    <td><input onchange="$('#update').click(); return false;" type="number" min="1" max="{{ product.amount }}" name="amount[]" value="{{ item.amount }}"></td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.amount * item.price }}</td>
                    <td>
                        <label class="label_for_hidden_del">X
                            <input class="hidden_del" type="submit" name="delete" value="{{ item.id }}">
                        </label>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="6">
                        <p class="total">Итого: 
                            <span>{{ total }}</span>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="order30">
            Имя:
            <input onchange="$('#update').click(); return false;" type="text" name="first_name" value="{{ order.first_name }}">
            Фамилия:
            <input onchange="$('#update').click(); return false;" type="text" name="last_name" value="{{ order.last_name }}">
            Email:
            <input onchange="$('#update').click(); return false;" type="text" name="email" value="{{ order.email }}">
            Телефон:
            <input onchange="$('#update').click(); return false;" type="text" name="phone" value="{{ order.phone }}">
        </div>
    </div>
    <div class="buttons_in_order">
        <input style="display: none;" id="update" class="btn btn-lg btn-primary save" type="submit" name="save" value="Сохранить">
        <input style="margin-top: 40px;" class="btn btn-lg btn-danger" type="submit" name="del" value="Удалить заказ">
    </div>
    

</form>





{% endblock %}