.products td, .categories td, .pages td {
	vertical-align: middle !important;
}

.avatar_in_product {
	margin-bottom: 10px;
}

.checkbox {
	width: 15px;
	height: 15px;
	outline: none;
}

.table td:first-child {
	width: 35px;
}

.select {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.home-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.aside {
	width: 200px;
	height: calc(100vh - 50px);
	background-color: #2B303B;
	position: fixed;
	color: white;
	font-weight: 700px;
}

.contain {
	margin-left: 200px;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	padding: 0 35px 30px;
	max-width: 1170px;
}

.aside ul {
	padding: 0;
	margin: 0;
}

.aside ul li {
	list-style: none;
}

.aside ul li a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 100%;
	padding: 13px 20px;
	color: white;
	font-size: 16px;
}

.aside ul li a:hover {
	background-color: #313641;
}

.navbar {
	background-color: #272B35;
}

.go_to_site {
	border-radius: 2px;
	background-color: #6D5CAE;
}

.containe {
	padding: 0 70px;
}

.obertka {
	border-radius: 3px;
	margin-top: 20px;
	padding: 0 20px;
	background-color: #F7F7F9;
	border: 1px solid #CCCCCC;
}

.obertka .table th {
	border: none;
}

.add_something {
	background-color: #1ABC9C;
	border-radius: 6px;
	padding: 10px 13px;
	color: white;
}
.add_something:before {
	content: "+ ";
}


.add_something:hover {
	color: white;
	background-color: #22C4A4;
}

.avatars {
	margin-right: 5px;
	width: 40px;
}

.hidden_del {
	display: none;
}

.label_for_hidden_del {
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 20px;
	color: grey;
	font-weight: bold;
}

.label_for_hidden_del:hover {
	color: red;
}

.login-form {
	margin: 0 auto;
	width: 500px;
}
/*------карточка товара-----*/

.bestsellers {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/*flex-wrap: wrap;*/
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
/*:root {
	--size-box: 145px;
}*/

.box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 145px;
	border: 2px solid black;
	overflow: hidden;
	margin: 20px 15px;
}

.box .bestseller_img {
	position: absolute;
	width: 55px;
}

.box_avatar {
	width: 145px;
	height: 145px;
	overflow: hidden;
}

.box_avatar img {
	min-width: 145px;
	height: 145px;
	border-bottom: 2px solid black;
}

/*.box_name {
	font-size: 20px;
}*/

.box_name, .box_price {
	padding: 5px 10px;
}


/*-----------*/