    * {
        box-sizing: border-box;
    }
    body {
        font-family: Tahoma;
        margin: 0;

        background-color: #f9f9f9;
    }
    header, footer {
        background-color: #000;
    }
    main {
        display: flex;
        margin: 40px 0;
    }
    .qwerty {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .qwerty main {
        flex-grow: 1;
    }
    .wrap {
        margin: 0 auto;
        max-width: 1170px;
        display: flex;
    }
    .menu {
        margin: 0 auto;
        display: flex;
        flex-grow: 1;
        max-width: 1170px;
    }
    .menu a {
        display: inline-block;
        padding: 15px; 
        color: white; 
        text-decoration: none;
    }
    .menu a:hover {
        text-decoration: underline;
    }
    .aside {
        padding: 20px;
        border: 1px solid #E4E5E5;
        border-radius: 3px;
        min-width: 300px;
        align-self: flex-start;
        
        background-color: white;
        margin-right: 15px;
    }
    .aside h3 {
        background-color: black;
        color: white;
        line-height: 50px;
        margin: 0;
        text-align: center;
    }
    .aside ul li a {
        //color: #2F7DBA; 
        color: black;
        text-decoration: none;
    }
    .aside ul li a:hover {
        text-decoration: underline;
    }

    .container {
        padding: 30px;
        width: 870px;
        //min-height: 280px;
        border: 1px solid #E4E5E5;
        border-radius: 3px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        //align-self: flex-start;
        background-color: white;
    }
    .container h2 {
        //width: 100%;
        margin: 40px;
    }
    .container h1 {
        text-align: center;
    }
    .box {
        background-color: white;
        color: black;
        //border: 1px solid black;
        border: 1px solid #E4E5E5;
        padding: 20px;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        flex-basis: 200px;
        margin: 0 10px 30px;
    }
    .box:hover {
        box-shadow: 0px 0px 30px -3px rgba(50, 50, 50, 0.3);

        //box-shadow: 5px 5px 0px 0px #e7e7e7; 

    }

    .box > a {
        //color: #7DC0FF;
        color: black;
        margin: 10px 0;
        text-decoration: none;
    }

    .box > a:hover {
        text-decoration: underline;
        color: #3E77B2;
    }



    .stock{
        margin-top: auto;
        margin-bottom: 0;
    }
    .price {
        font-size: 18px;
        font-weight: bold;
        margin: 5px 0;
    }
    .created {
        position: absolute;
        top: 0;
        right: 0;
    }

    .product {
        //outline: 1px solid green;
        width: 100%;
        display: flex;
        flex-direction: column;
        //max-height: 400px;
    }
    .product h1 {
        width: 100%;
        text-align: center;
        //outline: 1px solid green;
    }

    .kek {
        //outline: 1px solid green;
    }

    .product1 {
        display: flex;
        /justify-content: space-between;
    }

    .product1 + div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .product-description {
        padding: 0 20px;
        //flex-basis: 440px;
    }

    .product-description p span{
        font-weight: bold;
    }

    .product-description_price span {
        text-decoration: underline;
    }
    .product-buy {
        margin: 15px auto;
        width: 136px;
    }
    .product-buy button {
        width: 135px;
        height: 40px;
        font-size: 1.3em;
        margin-top: 7px;
    }

    .product-buy input[type="number"] {
        width: 40px;
        height: 20px;
    }

    .isForm {
        margin-left: auto;
    }


    .registration, .login {
        border: 1px solid black;
        padding: 50px;
        align-self: flex-start;
    }
    .registration form, .login form {
        width: 250px;
        display: flex;
        flex-direction: column;

    }
    .registration h2, .login h2 {
        margin: 0 auto 20px;
        text-align: center;
    }

    .registration input[type='text'], .registration input[type='password'], .registration input[type='submit'], .login input[type='text'], .login input[type='password'], .login input[type='submit'] {
        width: 100%;
        margin: 10px auto;
        height: 30px;
        font-size: 20px;
    }

    .registration input[type='submit'], .login input[type='submit'] {
        margin-top: 20px;
        background-color: black;
        color: white;
        border: none;
        height: 35px;
    }




/*-----------настройка выпадающего меню---------*/


ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}


nav > ul {
    margin-top: 20px;
    width: 100%;
}

nav li {
    text-decoration: none;
    //text-transform: uppercase;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #E4E5E5;
    position: relative;
    //background: white;
    background-color: #f9f9f9;
    min-width: 200px;
    //white-space: nowrap;
}

nav li a {
    display: inline-block;
    color: #000;
    //white-space: nowrap;
}

nav > ul ul{
    position: absolute;
    //z-index: 999;
    //left: -9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
    //opacity: 0; /* Устанавливаем начальное состояние прозрачности */
    display: none;
}

nav > ul li:hover > ul{ /* Выводим выпадающий пункт при наведении курсора */
    left: 100%; /* Приносим его обратно на экран, когда нужно */
    //top: 10px;
    top: -1px;
    //opacity: 1; /* Делаем непрозрачным */
    display: block;
}

nav li:hover > a { /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
    //font-size: 1.05em;
    color: white;
}

nav li:hover { /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
    //background: rgba(213,241,255,1);
    background-color: black;
}
